[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
adventofcode = {editable = true,path = "."}
appdirs = "*"
requests = "*"

[requires]
python_version = "3.7"
